VITE_MAKE_WEBHOOK_URL=
VITE_BACKEND_URL=
VITE_HUBSPOT_PORTAL_ID=
VITE_HUBSPOT_FORM_ID=
# VAPI
VITE_VAPI_API_KEY=
VITE_VAPI_ASSISTANT_ID=
# Twilio
VITE_TWILIO_ACCOUNT_SID=
VITE_TWILIO_AUTH_TOKEN=
VITE_TWILIO_PHONE_NUMBER=
VITE_TWILIO_WHATSAPP_NUMBER=
# Google Sheets
VITE_GOOGLE_SHEET_APP_SCRIPT_URL=
# Make.com
VITE_MAKE_WEBHOOK_URL=
